html {
    background-color: #fafafa;
}

body {
    font-family: IranSansWebFont, 'Segoe UI', Tahoma;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    direction: rtl;
    line-height: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input,
textarea,
button,
select,
a,
.iziToast-body {
    font-family: IranSansWebFont, 'Segoe UI', Tahoma !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

*:focus {
    outline: none !important;
}

span,
p {
    cursor: default;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

p,
span {
    margin: 0;
    vertical-align: middle;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.select2-container {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    line-height: 20px;
}

.select2-selection__rendered {
    padding: 0 10px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f3fbff !important;
    border: 1px solid #e6faff !important;
}

.select2-dropdown {
    border: 1px solid #ebebeb !important;
}

.select2-container--default .select2-selection--multiple {
    border: none !important;
    background: #f5f5f5;
    font-size: 13px;
    font-weight: bold;
    min-height: 42px;
}

.select2-container .select2-search--inline .select2-search__field {
    font-weight: bold;
    margin-top: 10px;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 10px;
    margin-top: 7px;
    font-size: 12px;
    padding: 5px 5px;
}

.select2-results__option[aria-selected] {
    text-align: right;
    padding: 10px;
    font-size: 12px;
}

.select2-results__option {
    font-size: 12px;
}

.iziToast-wrapper {
    padding: 0 !important;
}

.iziToast.fadeInUp {
    animation: none !important;
}

.card-footer-item:not(:last-child) {
    border-right: none !important;
    border-left: 1px solid #ededed;
}

.tags.has-addons .tag:not(:first-child) {
    border-radius: 4px 0 0 4px;
}

.tags.has-addons .tag:not(:last-child) {
    border-radius: 0 4px 4px 0;
}

.field.is-grouped>.control {
    margin: 5px;
}

.control .tag,
.btn {
    cursor: pointer;
}

.btn * {
    cursor: inherit;
}